<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationKey</key>
	<string>c7d0dd50-683d-012d-b5cb-1231390cad71</string>
	<key>applicationSecret</key>
	<string>c7d0dfd0-683d-012d-b5cb-1231390cad71</string>
</dict>
</plist>
